@tailwind base;
@tailwind components;
@tailwind utilities;

.rr--has-stroke .rr--hf-svg-on {
    stroke: none;
}

.swal2-container .swal2-popup img{
    border-radius: 20px;
    border: 5px solid #D1A054B2;
    background: transparent;
    padding: 5px;
}
.swal2-container .swal2-popup {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem;
    border: 3px solid #D1A054B2;
    border-radius: 50px;
}
.swal2-container .swal2-popup button{
    background: #D1A054B2;
    border:2px solid #D1A054B2;
    /* border:2px solid #d5850cb2; */
}

.table thead{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.overflow-x-auto::-webkit-scrollbar {
    width: 10px;
    border-radius: 6px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #794800; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Optional: Round the corners of the thumb */
  }
  
  .overflow-x-auto::-webkit-scrollbar-track {
    background-color: #D1A054; /* Set the color of the scrollbar track */
  }
 .overflow-y-auto::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #794800; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Optional: Round the corners of the thumb */
  }
  
  .overflow-y-auto::-webkit-scrollbar-track {
    background-color: #D1A054; /* Set the color of the scrollbar track */
  } 
   